@model IEnumerable<WebApplication1.Models.Medicament>

@{
    ViewData["Title"] = "Médicaments";
}

<h1 class="display-4">Liste de Médicaments</h1>

@* Ajout de formulaire *@
@* 
<div class="row">
    <div class="col-md-4">
        <form asp-action="Index">
            <div class="form-group">
                <label class="control-label">Nom médicament</label>
                <input name="rech" type="text" class="form-control" />


            </div>
            <p></p>
            <div class="form-group">
                <input type="submit" value="Rechercher" class="btn btn-primary" />
            </div>
        </form>
    </div>

</div> *@

<p>
    <a asp-action="Create" class="btn btn-primary" >Nouveau</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.Label("Nom")
            </th>
            <th>
                @Html.Label("Composition")
            </th>
            <th>
                @Html.Label("Effets secondaires")
            </th>
            <th>
                @Html.Label("Contre Indication")
            </th>
            <th>
                @Html.Label("Prix")
            </th>
            <th>
             @*    @Html.DisplayNameFor(model => model.SsmaTimeStamp) *@
            </th>
            <th>
                 @Html.DisplayNameFor(model => model.FamCodeNavigation) 
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MedNomcommercial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MedComposition)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MedEffets)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MedContreindic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MedPrixechantillon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SsmaTimeStamp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FamCodeNavigation.FamLibelle)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MedDepotlegal" class=" btn btn-primary">Edition</a> |
                    <a asp-action="Details" asp-route-id="@item.MedDepotlegal " class=" btn btn-info">Détails</a> |
                    <a asp-action="Delete" asp-route-id="@item.MedDepotlegal " class=" btn btn-danger">Suppression</a>
            </td>
        </tr>
}
    </tbody>
</table>
